{% extends 'base.html.twig' %}
{% block title %}Bienvenido a tu agenda de contactos web{% endblock %}
{% block body %}
	<h1>Contactos</h1>
	<h2>Bienvenido a la web de contactos.</h2>
	<p>Página de inicio</p>
	<a href="contactos" class="btn">Ver todos los contactos</a>
{% endblock %}